html,
body {
  background-color: #E0E0E0;
  height: 100%;
  margin: 0;
}

#hitlist {
  background-color: #C0C0C0;
  color: #909090;
}

#mail {
  border: 1px solid white;
  background-color: #202020;
  color: #C0C0C0;
}

#body {
  background-color: white;
  border: 1px solid black;
  color: #202020;
}

#term, #subsearch {
  width: 20rem;
}

#subsearch {
  padding: 0 .25rem;
}

#hits{
  color: turquoise;
  font-weight: 700;
}

#valid{
  color: steelblue;
  font-weight: 700;
}

#hitlist, #mail {
  font-size: 0.80rem;
}

.list-group-item-action {
  cursor: pointer;
}

iframe body {
  margin: 0;
}

button.icon {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  width: 16px;
  height: 16px;
}

button.icon:hover {
  background-color: cornflowerblue;
}

#subsearch-repeat {
  background: url('/www/svg/repeat.svg');
  width: 20px;
  height: 20px;
}

#subsearch-click {
  background: url('/www/svg/search.svg');
  width: 16px;
  height: 16px;
}