html,
body {
  background-color: #E0E0E0;
  height: 100%;
  margin: 0;
}

#hitlist {
  background-color: #C0C0C0;
  color: #909090;
}

#mail {
  border: 1px solid white;
  background-color: #202020;
  color: #C0C0C0;
}

#body {
  background-color: white;
  border: 1px solid black;
  color: #202020;
}
